@import "../../../../../../shared/styles/tools.scss";

.header {
	width: 100%;
	height: 64px;
	@include flex(row, center, center);
	.title {
		flex: 1;
	}

	.addChatBtn {
		width: 40px;
		height: 40px;
		border: none;
		background-color: transparent;
		cursor: pointer;

		&:active,
		&:hover {
			background-color: rgba(84, 101, 111, 0.1);
			border-radius: 50%;
		}

		.addChatIcon {
			width: 24px;
			height: 24px;
		}
	}

	.menu {
		width: 40px;
		height: 40px;
		margin-left: 10px;
		border-radius: 50%;
		text-align: center;
		position: relative;

		& > button:focus {
			background-color: rgba(84, 101, 111, 0.2);
		}

		button {
			width: 100%;
			height: 100%;
			padding: 8px;
			border-radius: 50%;
			outline-color: rgb(84, 101, 111);
			color: rgb(84, 101, 111);
			align-items: center;
			border: none;
			background-color: transparent;

			&:hover {
				cursor: pointer;
			}

			span {
				width: 24px;
				height: 24px;

				svg {
					border-radius: 50%;
				}
			}
		}

		.dropDownBlock {
			width: 283px;
			padding: 9px 0;
			position: absolute;
			z-index: 100;
			top: 45px;
			left: -250px;
			background-color: #fff;
			border-radius: 3px;
			box-shadow: 0 0 3px 1px rgba(11, 20, 26, 0.26); 

			ul {
				border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
			}

			.download{
				height: 40px;
				display: flex;
				align-items: center;
				justify-content: center;
				cursor: pointer;

				&:hover{
					background-color: rgba(84, 101, 111, 0.2);
				}
			}
		}
	}
}
