@import "../../shared/styles/tools.scss";

.header {
	width: 100%;
    height: 74px;
    
	.container {
		width: 1320px;
		margin: 0 auto;
	}

	&__header {
        height: 74px;
		@include flex(row, space-between, center);
	}
}
