@import "../../../../../../shared/styles/tools.scss";

.chatlist {
	width: 391px;

	.content {
		width: 100%;



		.chatItems {
			height: calc(100vh - 115px);
			overflow-y: scroll;
			scrollbar-width: thin;
		}
	}
}
